.add-catalog {
  margin: 0;
  padding: @padding-main;
}

.add-catalog__tit {
  margin: 0 0 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.add-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.add-catalog__item {
  margin: 0;
  padding: 13px 0 19px;
}

.add-catalog__title {
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @special-grey;
  text-transform: uppercase;
}

.add-catalog__content {
  margin: 0 0 15px;
  font-family: @font-second;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @color-base;
}

.add-catalog__option {
  padding: 0;
}

.add-catalog__value {
  padding: 0;
}

.add-catalog__order {
  display: block;
}
