.add-catalog {
  padding: @padding-main;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 0;
    margin: 0 auto;
  }
}

.add-catalog__title {
  margin: 0 0 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin: 27px 0 80px 37px;
    font-size: 36px;
    line-height: 36px;
  }
}

.add-catalog__list {
  padding: 0;
  list-style-type: none;
}

.add-catalog__item {
  padding: 13px 0 19px;

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px;
  }
}

.add-catalog__item-title {
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @special-grey;
  text-transform: uppercase;
}

.add-catalog__content {
  margin: 0 0 15px;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @color-base;
}

.add-catalog__option {
  padding: 0;
}

.add-catalog__value {
  padding: 0;
}

.add-catalog__order-btn {
  display: block;

  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}
