.all-list {
  background-image: url("../img/catalog/plus.png");
  background-repeat: no-repeat;
  background-position: top 25px center;

  @media (min-width: @tablet-width) {
    background-position: top 52px center;
    background-size: 60px;
    border: 1px solid @light-base;
  }
}

.all-list__inner {
  padding-top: 59px;

  @media (min-width: @tablet-width) {
    padding-top: 163px;
  }
}

.all-list__title {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: @dark-grey;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 170px;
    margin: 0 auto 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.all-list__text {
  margin: 0 0 21px;
  font-family: @font-arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: @color-base;

  @media (min-width: @tablet-width) {
    width: 170px;
    margin: 0 auto 85px;
    font-size: 16px;
    line-height: 18px;
  }
}
