.example {
  padding: @padding-main;
  background-color: #eaeaea;
}

.example__wrapper {
  margin: 0;
  padding: 25px 0 40px;
}

.example__tit {
  margin: 0 0 40px;
  padding: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin: 0 0 20px;
  padding: 0;
  font-family: @font-second;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @color-base;
}

.example__number {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @color-base;
  text-transform: uppercase;
}

.example__desc {
  font-family: @font-second;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  color: @color-base;
}

.example__text {
  margin: 0 0 40px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.example__range {
  font-family: @font-main;
  padding: 7px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #eaeaea;
}

