.gift {
  margin: 35px 0;
  padding: @padding-main;
}

.gift__wrapper {
  background-image: url(../img/background-gift.jpg);
  background-repeat: no-repeat;
  background-size: 280px 290px;
}

.gift__text {
  margin: 0;
  padding: 187px 0 43px;
  font-family: @font-second;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: @color-main-light;
  background: @basic-green;
  opacity: 85%;
}
