.header {
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
}

.header__wrapper {
  padding-top: 27px;
  background-color: @basic-green;
  opacity: 85%;

  &__link {
    padding: @padding-main;
  }
}

.header__tit {
  display: block;
  margin: 0;
  font-weight: 400;

  &--light {
    padding: 0 35px 25px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: @color-main-light;
  }
}

.header__text {
  margin: 0;
  text-transform: uppercase;

  &--light {
    padding-bottom: 200px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: @color-main-light;
  }
}

.header__link {
  display: block;
  margin: 138px 20px 20px;
  padding: 11px 44px;
  font-size: 14px;
  line-height: 18px;
  color: @color-main-light;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @basic-green;
}
