.location {
  padding: @padding-main;
}

.location--light {
  background: @basic-grey;
}

.location__wrapper {
  margin: 0;
  padding: 26px 0 0;
}

.location__tit {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.location__address {
  margin: 0;
  padding: 0;
  font-family: @font-second;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @color-base;
}
