.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover .logo__image,
  &:hover .logo__title {
    opacity: 80%;
  }

  &:active .logo__image,
  &:active .logo__title {
    opacity: 60%;
  }
}

.logo__title {
  margin: auto;

  &--header {
    display: inline-block;
    height: 18px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.logo__image {
  width: 33px;
  height: 38px;
  margin-right: 56px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}
