.logo {
  &:hover .logo__image {
    opacity: 80%;
  }

  &:active .logo__image {
    opacity: 60%;
  }
}

.logo__image {
  width: 33px;
  height: 38px;
  margin-right: 56px;
}

.logo__title {
  &:hover .logo__title-image {
    opacity: 80%;
  }

  &:active .logo__title-image {
    opacity: 60%;
  }
}

.logo__title-image {
  align-items: center;
}
