.logo {
  display: flex;
  justify-content: center;
  text-decoration: none;

  &:hover .logo__image,
  &:hover .logo__title {
    opacity: 80%;
  }

  &:active .logo__image,
  &:active .logo__title {
    opacity: 60%;
  }

  .logo__title {
    @media (min-width: @tablet-width) {
      &--header {
        display: none;
      }
    }
  }
}

.logo__image {
  width: 33px;
  height: 38px;
  margin-right: 56px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @tablet-width) {
    width: 202px;
    height: 59px;
  }
}
