.main-footer {
  padding: @padding-main;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 0;
    margin: 0 auto;
  }
}

.main-footer__wrapper {
  padding: 39px 0 22px;

  @media (min-width: @tablet-width) {
    padding: 58px 0 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 0 58px;
  }
}
