.program {
  padding: @padding-main;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin-bottom: 71px;
  }
}

.program__wrapper {
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    padding: 77px 51px 55px 52px;
  }
}

.program__title {
  margin: 0 0 29px;
  padding: 0;
  font-size: 24px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
    margin-left: 162px;
  }
}

.program__description {
  margin: 0 0 38px;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @color-base;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.program__link {
  margin: 0;
  padding: 4px 47px 4px 0;
  font-size: 16px;
  line-height: 16px;
  color: @color-main;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-right: 57px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 60px;
  }
}
