.survey-form {
  padding: @padding-main;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 0;
    margin: 0 auto;
  }
}

.survey-form__wrapper-set {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 568px 568px;
    gap: 0 80px;
  }
}

.survey-form__set {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 19px 0 4px;

  @media (min-width: @tablet-width) {
    padding: 65px 40px 0;

    &--contact {
      margin-bottom: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    padding: 66px 0 3px 0;

    &--contact {
      margin-bottom: 6px;
    }
  }
}

.survey-form__inner-contact {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    margin-top: 9px;
  }
}

.survey-form__list {
  margin: 0;
  padding: 25px 0 19px;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding: 25px 28px 29px;

    &--radio {
      border: 1px solid @light-grey3;
      margin-bottom: 6px;
    }

    &--checkbox {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px 60px;
      margin-right: 63px;
      padding: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--checkbox {
      display: grid;
      grid-template-columns: 221px 221px 221px 221px;
      gap: 0 104px;
    }
  }
}

.survey-form__item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.survey-form__set-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.survey-form__label {
  flex-shrink: 0;
  margin-right: 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  align-items: center;
  color: @color-base;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio,
  &--checkbox {
    position: relative;
    display: block;
    padding-left: 45px;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      padding-left: 60px;
    }
  }
}

.survey-form__input {
  flex-grow: 1;
  padding: 12px 14px 12px;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  align-items: center;
  color: @color-base;
  text-transform: uppercase;
  border: 1px solid @light-grey3;
  border-radius: none;
  cursor: pointer;

  &--email {
    background: url("../img/email-icon.svg");
    background-repeat: no-repeat;
    background-position: top 14px right 15px;
  }

  &--phone {
    background: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: top 12px right 12px;
  }

  @media (min-width: @tablet-width) {
    padding: 9px 18px 9px;
    font-size: 20px;
    line-height: 30px;
  }
}

.survey-form__mark {
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;

  @media (min-width: @tablet-width) {
    top: -3px;
    width: 40px;
    height: 40px;
  }
}

.survey-form__input[type="radio"] + .survey-form__mark {
  border: 1px solid @special-grey-light;
  border-radius: 50%;
}

.survey-form__input[type="radio"]:checked + .survey-form__mark {
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.survey-form__input[type="checkbox"] + .survey-form__mark {
  border: 1px solid @special-grey-light;
}

.survey-form__input[type="checkbox"]:checked + .survey-form__mark {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.survey-form__tag {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  align-items: center;
  color: @special-grey;
  text-transform: uppercase;
  cursor: pointer;

  &--checkbox {
    color: @color-main;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.survey-form__title {
  margin: 0 0 26px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @color-main;

  @media (min-width: @tablet-width) {
    margin: 0 0 57px;
    font-size: 36px;
    line-height: 36px;
  }
}

.survey-form__textarea {
  margin: 0 0 22px;
  padding: 10px;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @color-base;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    margin: 9px 0 22px;
  }
}

.survey-form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0 32px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin: 29px 40px 72px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    margin: 36px 0 80px;
    padding: 0;
  }
}

.survey-form__btn {
  margin: 0 auto 21px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    margin: 0 61px 0 0;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.survey-form__note {
  margin: 0;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}
