.survey-form {
  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.survey-form__wrapper-set {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 568px 568px;
    gap: 0 80px;
    margin: 0 110px;
  }
}

.survey-form__set {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 0 10px;

  &--contact {
    padding: 17px 0 10px;
  }

  @media (min-width: @tablet-width) {
    padding: 65px 0 0;

    &--radio {
      padding: 55px 0 0;
    }

    &--comment {
      padding: 45px 0 0;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    padding: 66px 0 3px 0;

    &--contact {
      padding: 46px 0 0;
    }

    &--comment {
      padding: 38px 0 0;
    }
  }
}

.survey-form__set-block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.survey-form__inner-contact {
  @media (min-width: @tablet-width) {
    margin: 20px 0 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    margin: 76px 110px 9px;
  }
}

.survey-form__list {
  margin: 0;
  padding: 25px 0;
  list-style-type: none;
  border-top: 1px solid @light-grey3;
  border-bottom: 1px solid @light-grey3;

  &--checkbox {
    padding: 3px 0 15px;
    border-bottom: none;
    border-top: none;
  }

  @media (min-width: @tablet-width) {
    padding: 25px 0 29px;

    &--radio {
      border: 1px solid @light-grey3;
      margin: 0 70px 12px;
    }

    &--checkbox {
      display: grid;
      grid-template-columns: 330px 330px;
      gap: 20px 10px;
      padding: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--radio {
      margin: 0;
      padding: 27px 0 29px;
    }

    &--checkbox {
      display: grid;
      grid-template-columns: 221px 221px 221px 221px;
      gap: 0 104px;
      margin: 62px 110px 0;
    }
  }
}

.survey-form__item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.survey-form__label {
  position: relative;
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  align-items: center;
  color: @color-base;
  text-transform: uppercase;

  &--contact {
    display: flex;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio {
    position: relative;
    display: block;
    margin: 0 20px;
    padding-left: 45px;
    cursor: pointer;

    &:active {
      opacity: 30%;
    }

    @media (min-width: @tablet-width) {
      padding-left: 60px;
      margin: 0 28px;
    }
  }

  &--checkbox {
    position: relative;
    display: block;
    margin: 0 20px;
    padding-left: 45px;
    cursor: pointer;

    &:active {
      opacity: 30%;
    }

    @media (min-width: @tablet-width) {
      margin: 0 70px;
      padding-left: 60px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }
}

.survey-form__input {
  flex-grow: 1;
  padding: 12px 13px 12px;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  align-items: center;
  color: @color-base;
  text-transform: uppercase;
  outline: 1px solid @light-grey3;
  border: none;
  border-radius: none;
  cursor: pointer;

  &:invalid {
    outline: 2px solid @error;

    & ~ .survey-form__icon--email {
      stroke: @error;
    }

    & ~ .survey-form__icon--phone {
      fill: @error;
    }
  }

  &:hover {
    outline: 1px solid @special-grey-light;

    & ~ .survey-form__icon--email {
      stroke: @special-grey;
    }

    & ~ .survey-form__icon--phone {
      fill: @special-grey;
    }
  }

  &:focus {
    outline: 2px solid @color-base;

    & ~ .survey-form__icon--email {
      stroke: @basic-green;
    }

    & ~ .survey-form__icon--phone {
      fill: @basic-green;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 10px 18px 10px;
    font-size: 20px;
    line-height: 30px;
  }
}

.survey-form__icon {
  position: absolute;
  right: 18px;

  &--email {
    fill: transparent;
    stroke: @special-grey;
  }
}

.survey-form__mark {
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;

  @media (min-width: @tablet-width) {
    top: -3px;
    width: 40px;
    height: 40px;
  }
}

.survey-form__input[type="radio"] + .survey-form__mark {
  border: 1px solid @special-grey-light;
  border-radius: 50%;

  &:hover {
    border: 1px solid @special-grey-light2;
  }
}

.survey-form__input[type="radio"]:checked + .survey-form__mark {
  background-image: url("../img/form/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-size: 18px 18px;
  }
}

.survey-form__input[type="checkbox"] + .survey-form__mark {
  border: 1px solid @special-grey-light;

  &:hover {
    border: 1px solid @special-grey-light2;
  }
}

.survey-form__input[type="checkbox"]:checked + .survey-form__mark {
  background-image: url("../img/form/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.survey-form__tag {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  align-items: center;
  color: @special-grey;
  text-transform: uppercase;
  cursor: pointer;

  &--checkbox {
    color: @color-main;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.survey-form__title-wrapper {
  position: relative;
}

.survey-form__title {
  display: inline-block;
  max-width: 1440px;
  margin: 0 0 35px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @color-main;
  background-color: @color-main-light;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: @basic-green;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    margin: 0 30px 57px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;

    &--comment {
      margin: 0 30px 76px;
    }

    &::before {
      top: 23px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 70px;
  }
}

.survey-form__textarea {
  margin: 0 20px 13px;
  padding: 10px 10px 15px;
  font-family: @font-oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @color-base;
  border: 1px solid @light-grey3;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    height: 175px;
    margin: 0 70px;
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    margin: 76px 110px 0;
  }
}

.survey-form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0 32px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin: 0 70px;
    padding: 38px 0 71px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
    padding: 40px 0 81px;
  }
}

.survey-form__btn {
  margin: 0 auto 21px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    margin: 0 61px 0 0;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.survey-form__note {
  margin: 0;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}
