@font-oswald: "Oswald", "Arial", sans-serif;
@font-arial: "Arial", sans-serif;

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

@padding-main: 0 20px;

@basic-green: #68b738;
@basic-green2: #5eaa2f;
@basic-grey: #f2f2f2;
@color-base: #444444;
@color-main: #000000;
@color-main-light: #ffffff;
@dark-grey: #111111;
@error: #ff8282;
@light-base: #e6e6e6;
@light-grey: #eaeaea;
@light-grey2: #ebebeb;
@light-grey3: #e7e7e7;
@special-grey: #222222;
@special-grey2: #666666;
@special-grey-dark: #d9d9d9;
@special-grey-light: #cdcdcd;
@special-grey-light2: #bababa;
@special-grey-scale: #dcdcdc;
